body {
  font-family: Arial, sans-serif;
  margin: 20px;
}
h1 {
  color: #333;
}
#produtos > div {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
}

#cadastrarProdutoBtn {
  background-color: #27633f; /* cor principal do seu projeto */
  color: #fff;
  border: none;
  padding: 10px 24px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 10px;
}

#cadastrarProdutoBtn:hover {
  background-color: #1e4d32; /* tom mais escuro no hover */
}
